{
    "name": "sink-snowflake-shadowtraffic-customers",
    "config": {
        "connector.class": "com.snowflake.kafka.connector.SnowflakeSinkConnector",
        "tasks.max": "1",
        "topics": "mysql.demo.shadowtraffic_customers",
        "snowflake.url.name": "${file:/opt/confluent/secrets/snowflake-secrets.properties:SNOWFLAKE_URL}",
        "snowflake.user.name": "${file:/opt/confluent/secrets/snowflake-secrets.properties:SNOWFLAKE_USER}",
        "snowflake.private.key": "${file:/opt/confluent/secrets/snowflake-secrets.properties:SNOWFLAKE_PRIVATE_KEY}",
        "snowflake.database.name": "DEV_ENTECHLOG_RAW_DB",
        "snowflake.schema.name": "DATAGEN",
        "snowflake.warehouse": "DEV_ENTECHLOG_KAFKA_WH_XS",
        "snowflake.role.name": "DEV_SVC_ENTECHLOG_SNOW_KAFKA_ROLE",
        
        "snowflake.ingestion.method": "SNOWPIPE_STREAMING",
        "snowflake.enable.schematization": "true",
        "schema.registry.url": "http://schema-registry:8081",

        "buffer.count.records": "10000",
        "buffer.size.bytes": "5000000",
        "buffer.flush.time": "30",
        
        "key.converter": "io.confluent.connect.avro.AvroConverter",
        "key.converter.schema.registry.url": "http://schema-registry:8081",
        "value.converter": "io.confluent.connect.avro.AvroConverter",
        "value.converter.schema.registry.url": "http://schema-registry:8081",
        "value.converter.schemas.enable": "true",
        
        "snowflake.topic2table.map": "mysql.demo.shadowtraffic_customers:shadowtraffic_customers",
                
        "errors.tolerance": "all",
        "errors.deadletterqueue.topic.name": "connect.sink.dlt.snowflake.shadowtraffic_customers",
        "errors.log.include.messages": true,
        "errors.deadletterqueue.context.headers.enable": true,
        "errors.deadletterqueue.topic.replication.factor": 1
    }
}
