{
	"name": "sink-mysql-users",
	"config": {
		"connector.class": "io.confluent.connect.jdbc.JdbcSinkConnector",
		"tasks.max": "1",
		"topics": "datagen.users",
		"connection.url": "${file:/opt/confluent/secrets/mysql-secrets.properties:CONNECTION_URL}",
		"connection.url": "${file:/opt/confluent/secrets/mysql-secrets.properties:CONNECTION_USER}",
		"connection.url": "${file:/opt/confluent/secrets/mysql-secrets.properties:CONNECTION_PASSWORD}",
		"auto.create": "true",
		"auto.evolve": "true",
		"delete.enabled": "true",
		"insert.mode": "upsert",
		"pk.mode": "record_key",
	    "pk.fields": "userid",
		"table.name.format": "datagen_users",
		"key.converter": "io.confluent.connect.avro.AvroConverter",
		"key.converter.schema.registry.url": "http://schema-registry:8081",
		"key.converter.schemas.enable": true,
		"value.converter": "io.confluent.connect.avro.AvroConverter",
		"value.converter.schema.registry.url": "http://schema-registry:8081",
		"value.converter.schemas.enable": true,
		"errors.tolerance": "all",
		"errors.deadletterqueue.topic.name": "connect.sink.dlt.jdbc.users",
		"errors.log.include.messages": true,
		"errors.deadletterqueue.context.headers.enable": true,
		"errors.deadletterqueue.topic.replication.factor": 1,
		"transforms": "LimitLength",
		"transforms": "RenameTopic,ReplaceField",
		"transforms.RenameTopic.type": "org.apache.kafka.connect.transforms.RegexRouter",
		"transforms.RenameTopic.regex": "^(?<prefix>.*)$",
		"transforms.RenameTopic.replacement": "datagen.users.updated",
		"transforms.ReplaceField.type": "org.apache.kafka.connect.transforms.ReplaceField$Value",
		"transforms.ReplaceField.blacklist": "userid"
	}
}
