{
  "name": "src-datagen-custom-users",
  "config": {
    "connector.class": "io.confluent.kafka.connect.datagen.DatagenConnector",
    "kafka.topic": "datagen.custom.users",
    "schema.filename": "/connect/schemas/users_schema_01.avro",
    "schema.keyfield": "userid",
    "key.converter": "io.confluent.connect.avro.AvroConverter",
    "key.converter.schema.registry.url": "http://schema-registry:8081",
    "value.converter": "io.confluent.connect.avro.AvroConverter",
    "value.converter.schema.registry.url": "http://schema-registry:8081",
    "max.interval": 60000,
    "iterations": 10000000,
    "tasks.max": "1"
  }
}
