{
    "name": "src-mysql-demo-db",
    "config": {
        "connector.class": "io.debezium.connector.mysql.MySqlConnector",
        "database.hostname": "${file:/opt/confluent/secrets/mysql-secrets.properties:DATABASE_HOSTNAME}",
        "database.port": "3306",
        "database.user": "${file:/opt/confluent/secrets/mysql-secrets.properties:DATABASE_USER}",
        "database.password": "${file:/opt/confluent/secrets/mysql-secrets.properties:DATABASE_PASSWORD}",
        "database.server.id": "184054",		
        "topic.prefix": "mysql",
        "database.include.list": "demo",
        "schema.history.internal.kafka.bootstrap.servers": "broker:29092",
        "schema.history.internal.kafka.topic": "schema.changes.customers",
        "key.converter": "io.confluent.connect.avro.AvroConverter",
        "value.converter": "io.confluent.connect.avro.AvroConverter",
        "key.converter.schema.registry.url": "http://schema-registry:8081",
        "value.converter.schema.registry.url": "http://schema-registry:8081"
    }
}