{
	"name": "sink-mysql-custom-users",
	"config": {
		"connector.class": "io.aiven.connect.jdbc.JdbcSinkConnector",
		"tasks.max": "1",
		"topics": "datagen.custom.users",
		"connection.url": "${file:/opt/confluent/secrets/mysql-secrets.properties:CONNECTION_URL}",
		"connection.user": "${file:/opt/confluent/secrets/mysql-secrets.properties:CONNECTION_USER}",
		"connection.password": "${file:/opt/confluent/secrets/mysql-secrets.properties:CONNECTION_PASSWORD}",
		"auto.create": "true",
		"auto.evolve": "true",
		"insert.mode": "upsert",
		"pk.mode": "record_key",
	    "pk.fields": "userid",
		"table.name.format": "datagen_custom_users",
		"key.converter": "io.confluent.connect.avro.AvroConverter",
		"key.converter.schema.registry.url": "http://schema-registry:8081",
		"key.converter.schemas.enable": true,
		"value.converter": "io.confluent.connect.avro.AvroConverter",
		"value.converter.schema.registry.url": "http://schema-registry:8081",
		"value.converter.schemas.enable": true,
		"errors.tolerance": "all",
		"errors.deadletterqueue.topic.name": "connect.sink.dlt.mysql.custom.users",
		"errors.log.include.messages": true,
		"errors.deadletterqueue.context.headers.enable": true,
		"errors.deadletterqueue.topic.replication.factor": 1
	}
}
