CONNECTION_URL=jdbc:mysql://mysql-server:3306/your_database_name
CONNECTION_USER=your_username
CONNECTION_PASSWORD=your_password
DATABASE_HOSTNAME=mysql-server
DATABASE_USER=your_username
DATABASE_PASSWORD=your_password
